body {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    font-size: 1em;
}

div#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #990000;
}

div#header img {
    float: left;
    margin: .5em;
}

div#header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 2em;
    margin-left: 2%;
    padding: 0;
    display: inline-flex;
}

div#main {
    width: 90%;
    background-color: azure;
    margin: 0 auto 0 auto;
}

div#content {
    width: 68%;
    float: left;
}

div#sidebar {
    width: 29%;
    float: right;
}

.no-wrap {
    clear: both;
}