body {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    font-size: 1em;
}

div#main {
    width: 90%;
    background-color: azure;
    margin: 0 auto 0 auto;
}