body {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    font-size: 1em;
}

div#header {
    width: 100%;
    background-color: burlywood;
}

div#main {
    width: 90%;
    background-color: azure;
    margin: 0 auto 0 auto;
}

div#content {
    width: 68%;
    float: left;
}

div#sidebar {
    width: 29%;
    float: right;
}

.no-wrap {
    clear: both;
}